logs/new_records/seed_42/*
tmp*
tmp_figures
records
code_v2
data
dcgm
logs/logs_*
NTK_data
LIRA_checkpoints
LIRA_checkpoints/weights_resnet18_cifar10.pth
LIRA_checkpoints/weights_resnet18_cifar100.pth
LIRA_checkpoints/weights_purchase.pth
LIRA_checkpoints/weights_texas.pth
LIRA_checkpoints/weights_location.pth
LIRA_checkpoints/forget/
LIRA_checkpoints/retain/
LIRA_checkpoints/shadow_models/
LIRA_checkpoints/unle_models/
LIRA_checkpoints/retain/
LIRA_checkpoints/ckpt.pth
LIRA_checkpoints/scores
LIRA_checkpoints/adv_ckpt
LIRA_checkpoints/weights*
LIRA_checkpoints/newseed
purchase-data
texas-data
location-data
purchase-data.zip
texas-data.zip
location-data.zip
texas_shuffle.pkl
checkpoints
opacus
LIRA_checkpoints/demo
LIRA_checkpoints/logs_old
LIRA_checkpoints/scores_old
LIRA_checkpoints/logs
LIRA_checkpoints/scores
LIRA_checkpoints/*.npy
LIRA_checkpoints_old

mia_llms_benchmark/**/__pycache__/
mia_llms_benchmark/*.pyc

mia_llms_benchmark/.ipynb_checkpoints/
mia_llms_benchmark/.idea/
mia_llms_benchmark/.vscode/
mia_llms_benchmark/wandb/

mia_llms_benchmark/config.yaml
mia_llms_benchmark/config/
mia_llms_benchmark/dcgm/
mia_llms_benchmark/logs/*.err
mia_llms_benchmark/logs/*.out
mia_llms_benchmark/logs/traps*
# logs/*.log
mia_llms_benchmark/logs/bash**/
mia_llms_benchmark/logs/bash-00000000-muse*
mia_llms_benchmark/ip_output/
mia_llms_benchmark/exp_output/

mia_llms_benchmark/finetune/dcgm/
mia_llms_benchmark/finetune/logs/
mia_llms_benchmark/finetune/llama2**/
